@font-face{
	font-family: Shrikhand ;
	src: url("Shrikhand-Regular.ttf");
}

@font-face{
	font-family: Roboto ;
	src: url("Roboto-Regular.ttf"), ("Roboto-Black.ttf"), ("Roboto-BlackItalic.ttf"), ("Roboto-Bold.ttf"), ("Roboto-BoldItalic.ttf"), ("Roboto-Italic.ttf"), ("Roboto-Italic.ttf"), ("Roboto-LightItalic.ttf"), ("Roboto-Medium.ttf"), ("Roboto-MediumItalic.ttf"), ("Roboto-Thin.ttf"), ("Roboto-ThinItalic.ttf");
}

h1{
	font-family: Shrikhand;
}

p, h2; h3{
	font-family: Roboto;
}

h2{
	text-align: center;
}

.loader{
	height: 0px;
}

.image-accueil{
	width: 100%;
	height: 700px;
	position: absolute;
	background: url(sweettexture.jpg) white;
	animation: disappear 0ms 2000ms both;
}

@keyframes disappear{
	from{
		transform: translateX(0);
	}
	to{
		transform: translateX(-400%);
	}
}

@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	} 
}

.loading-spinner{
	border: 20px solid #CAC1C1;
	border-radius: 50%;
	border-top: 20px solid blue;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	animation: disappear 0ms 2000ms both, spin 2s linear 1;
}

header{
	text-align: center;
	padding-bottom: 20px;
}

.fa-arrow-left{
	float: left;
	padding-top: 15px;
}

.fa-archive{
	color: #9356DC;
}

.fa-list, .fa-mobile-alt{
	color: grey;
}

input, textarea{
	background-color: #C3C3C3;
	border: hidden;
}

.input{
	background-color: #C3C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
}

.recherche{
	text-align: center;
	background-color: #E8E8E8;
	padding-bottom: 30px;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.titrerestau{
	display: flex;
	padding-left: 10px;
	justify-content: center;
}

.titrerestau i{
	float: right;
	margin-top: 30px;
	margin-left: 100px;
}

button{
	color: white;
	background-color: #9356DC;
	font-weight: bold;
	font-size: 1em;
	border: none;
	padding: 15px 15px 15px 15px;
	border-radius: 25px 25px 25px 25px;
	box-shadow: 0px 8px 10px #696767;
	width: 50%;
	transition-duration: 0.8s;
}

button:hover{
	background-color: #FF79DA;
	box-shadow: 0px 15px 8px #696767;
}

.numero{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #9356DC;
	text-align: center;
	color: white;
	margin-left: -15px;
	margin-right: 20px;
}

.fonctionnement h2{
	text-align: center;
}

.fonctionnement{
	padding-bottom: 20px;
}

.fonctionnement .elements-fonctionnement{
	display: flex;
	border-radius: 15px;
	padding: 10px 50px 10px 5px;
	margin: 10px;
	background-color: #E8E8E8;
	box-shadow: 0px 8px 10px #696767;
	height: 40px;
	align-items: center;
}

.elements{
	display: flex;
	justify-content: center;
}

a{
	text-decoration: none;
	color: black;
}

.elements i{
	margin-right: 15px;
}

.card i{
	float: right;
	margin-top: -50px;
	margin-right: 20px;
}

.restaurants{
	background-color: #E8E8E8;
	padding-top: 20px;
	padding-bottom: 20px;
}

.restaurants1, .restaurants2{
	display: flex;
}

.restaurants .card{
	flex: 1;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto
	border: solid;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 8px 10px #696767;
}

.restaurants img{
	width: 100%;
	height: 320px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	object-fit: cover;
}

.imagerestau img{
	width: 100%;
	height: 320px;
	object-fit: cover;
}

.menus{
	background-color: #E8E8E8;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

@keyframes appear{
	from{
		opacity: 0;
		transform: translateY(10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	} 
}

@keyframes appear-right{
	from{
		opacity: 0;
		transform: scaleX(0);
	}
	to{
		opacity: 1;
		width: 50%;
		transform: scaleX(1);
	} 
}

.coeur2{
	color: #9356DC;
	transform: scale(0);
	transition: transform 500ms ease-in-out;
}

.coeur1:hover + .coeur2{
	transform: scale(1);
}

.cardmenu{
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto
	border: solid black;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 8px 10px #696767;
	flex: 1;
	animation: appear 1500ms;
}

.entrees{
	padding-bottom: 15px;
}

.plats{
	padding-bottom: 15px;
}

.desserts{
	padding-bottom: 10px;
}

.cardmenu:hover .circle > .fa-check-circle{
	animation: spin 1s linear 1;
}

.cardmenu:hover > .circle{
	animation: appear-right 1500ms both;
}

.boutton{
	padding-bottom: 20px;
	text-align: center;
}

.menus h2{
	text-decoration: underline;
	text-decoration-color: #99E2D0;
	padding-left: 10px;
	text-align: center;
}

.menus, h3, p{
	margin: 10px;
}

.entrees, .plats, .desserts{
	display: flex;
}

.menus .cardmenu{
	display: flex;
}

.fa-check-circle{
	margin-top: 20px;
	color: white;
}

.circle{
	background-color: #99E2D0;
	width: 0;
	border-radius: 0px 10px 10px 0px;
	transform-origin: right;
	opacity: 0;
	text-align: center;
}

.prix{
	font-weight: bold;
	margin-top: 45px;
	width: 15%;
}

.descriptionmenu{
	width: 95%;
	min-width: 0;
}

.descriptionmenu > h3{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.descriptionmenu > p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer{
	color: white;
	background-color: black;
	padding: 20px;
}	

footer img{
	filter: grayscale(1) invert(1);
	width: 100px;
	padding-left: 10px;
}

footer i{
	margin-right: 20px;
}

footer a{
	color: white;
	padding-left: 10px;
}

@media all and (max-width: 768px){

	.logo{
		width: 50%;
	}

	.recherche{
		width: 100%;
		text-align: center;
	}

	.fonctionnement h2{
		text-align: left;
	}

	.elements{
		flex-direction: column;
	}

	.restaurants1, .restaurants2{
		flex-direction: column;
	}

	.restaurants h2{
		text-align: left;
		margin-left: 10px;
	}

	.entrees, .plats, .desserts{
		flex-direction: column;
	}	

	.menus h2{
		text-align: left;
		margin-left: 10px;
	}

	.menus h1{
		text-align: left;
	}

	.titrerestau{
		text-align: left;
	}

	.fa-heart{
		margin-right: 15px;
	}

}